* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #4a4a4a;
}
body {
  background: #f7f7f7;
}
.btn .btn:hover, .btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
a, button {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
a:hover {
  text-decoration: none;
}
/*Estilos del cargador al iniciarl la pagina*/
.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader>img {
  max-width: 50px;
}
/*Estilos del cargador al iniciarl la pagina*/

/*Carga de las imagenes*/
.lazyImg {
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  max-width: 100%;
  transform: scale(1.2);
}
.lazyImg.b-loaded {
 transform: scale(1);
}
/*Carga de las imagenes*/

/*Estilos default*/
ul {
  list-style: none;
}
/*footer*/
footer {
  background: #212143;
  padding: 1em 0;
  position: relative;
  z-index: 3;
}
footer i {
  color: #fff;
}
footer a {
  color: #f6a623;
}
/*Header*/
header {
  background: #212143;
  padding: 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.logo {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  margin: 0;
}
.logo i {
  color: #f5a623;
}
.menu-btn {
  background: transparent;
  border:0;
  color: #fff;
  font-size: 1.5em;
  padding: 6px 0;
}
.menu-btn i {
  color: #f5a623;
}
.menu-btn:hover {
  color: #fff;
}
.menu-btn:hover i {
  color: #fff;
}
.btn-log {
  background: #f5a623;
  color: #212143;
  border: 2px solid #f5a623;
  border-radius: 20px;
  font-size: 1.3em;
  margin: 0 1em;
  padding: 6px 30px;
}
.btn-log:hover{
  border: 2px solid #fff;
  background: #fff;
  color: #f5a623;
}
.btn-sing {
  background: transparent;
  color: #f5a623;
  border: 2px solid #f5a623;
  border-radius: 20px;
  font-size: 1.3em;
  margin: 0 1em;
  padding: 6px 30px;
}
.btn-sing:hover {
  color: #fff;
  border: 2px solid #fff;
}

/*Menu de navegacion*/
.nav {
  background: #343a58;
  height: 100vh;
  width: 16.66666667%;
  position: fixed;
  top: 4em;
  left: 0;
  padding: 0 1em;  
}
.nav h3 {
  color: #fff;
  font-weight: 200;
  margin-top: 2em;
}
.nav ul {
  margin-left: 1em;
} 
.nav ul li a {
  color: #f6a623;
  font-weight: 400;
  font-size: 1.1em;
}
/*Estilos Estructura General*/
.wrapper {
  display: block;
  position: relative;
  margin: 7em 0;
}
.row-wrapper {
  max-width: 100%;
  position: relative;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.game-item {
  width: 170px;
  max-width: 170px;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}
.thumbs {
  width: 100%;
  max-width: 100%;
  height: 130px;
  max-height: 130px;
  object-fit: cover;
  object-position: center;
}
.rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2em;
}
.rate i {
  color: #feeb00;
}
.rate span {
  font-weight: 500;
}

/*Side bar*/
.side-wrapper {
  display: block;
  position: relative;
}
.banner {
  width: 100%;
}
.side-banner {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
  object-position: center;
}
.module-container {
  background: #fff;
  border: 1px solid #e4e4e4;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.module-title {
  padding-left: 5px; 
  border-bottom: 1px solid #e4e4e4;
}
.module-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  padding: 5px 0;
}
.module-item-link {
  font-size: 18px;
  color: #4a4a4a;
  font-weight: 500;
  margin: 10px 0;
  display: block;
}
.thumb-module-item {
  width: 70px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}